#Copyright (c) 2011-2013 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.
import init.t124_emmc.rc

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    mount_all /fstab.mocha

    wait /dev/block/platform/sdhci-tegra.3/by-name/cache
    exec /system/bin/sh /system/bin/mount_ext4.sh /dev/block/platform/sdhci-tegra.3/by-name/cache /cache

    wait /dev/block/platform/sdhci-tegra.3/by-name/persist
    exec /system/bin/sh /system/bin/mount_ext4.sh /dev/block/platform/sdhci-tegra.3/by-name/persist /persist
    chown system system /persist
    chmod 0771 /persist
    mkdir /persist/property 0700 root root

    # mount console ramooops
    mount pstore pstore /sys/fs/pstore

    chown system system /persist/serialno
    chmod 0400 /persist/serialno

on post-fs-data
    chown system system /dev/sysmatdrv
    chmod 0660 /dev/sysmatdrv
    insmod /system/lib/modules/texfat.ko

on boot
    #max resolution supported for Miracast is 1080p, represented interms of macroblocks
    setprop nvwfd.maxresolution_macroblocks 8160
    #enable Miracast game mode support
    setprop nvwfd.gamemode 1

    # Remove gps feature from mocha
    # Start GPS daemon
    # service gps-daemon /system/bin/gpsd -c /system/etc/gps/gpsconfig.xml
    # user gps
    # socket gps seqpacket 0660 gps system
    # group system inet sdcard_rw sdcard_r
    # class main
    # disabled

on init
    # Mount a tmpfs into /mnt/tmp for hosting nvram, phs shared memory
    mkdir /mnt/tmp 0770 system system
    mount tmpfs tmpfs /mnt/tmp mode=0775,gid=1003
    # Immersion
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 system system

service sysmatsir /system/bin/smonsir
    user root
    group root
    oneshot
    disabled

service sysmatpro /system/bin/smprosrv
    user root
    group root
    oneshot
    disabled

service charger /sbin/chargeonlymode
    class charger

service nv_power /system/bin/power_mode.sh
    user system
    group system
    oneshot
    disabled

on property:persist.sys.aries.power_profile=high
    start nv_power

on property:persist.sys.aries.power_profile=middle
    start nv_power

on property:persist.sys.aries.power_profile=low
    start nv_power

on property:persist.sys.matsir.enable=1
    setprop sys.sysmat.service.control start
    start sysmatsir
    start sysmatpro


